<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- VENDOR CSS -->
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet" href="../css/perCentermain.css">
    <link rel="stylesheet" href="../css/perCenterstyle.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css">



    <link rel="stylesheet" href="../css/aos.css">

    <link rel="stylesheet" href="../css/style.css">

    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <!--[if IE]>
    <script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body class="perCenterRight">
<div class="container perCentMargin-top">
    <h3 class=" text-orange per-want-title">实名认证</h3><br>
    <h5 class="baseInfo-notice fontColor"><img src="../images/notice.png">温馨提示：为保障交易顺利进行，会员个人资料无法自由修改，如需更改联系方式，请致电客服：400-990-8331</h5>
    <div class="margin-top-30">
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-2 ">姓名:</h5>
            <span class="col-md-10"><input type="text" id="certificationName" class="form-control" placeholder="请输入您身份证上的姓名"></span>
        </div>
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-2">身份证号码:</h5>
            <span class="col-md-10"><input type="text" id="certificationNum" class="form-control" placeholder="请输入您的身份证号码（港澳台输入您的护照号码）"></span>
        </div>
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-2">QQ号码:</h5>
            <span class="col-md-10"><input type="text" id="certificationQQ" class="form-control" placeholder="请输入您的QQ号码"></span>
        </div>
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-2">微信号码:</h5>
            <span class="col-md-10"><input type="text" id="certificationWeChat" class="form-control" placeholder="请输入您的微信号"></span>
        </div>
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-2">手机号码:</h5>
            <span class="col-md-10"><input type="text" id="certificationMobNum" class="form-control" placeholder="请输入您的手机号码"></span>
        </div>
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-2">安全邮箱:</h5>
            <span class="col-md-10"><input type="text" id="certificationEmail" class="form-control" placeholder="请输入您较常使用的安全邮箱"></span>
        </div>
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-2">验证码:</h5>
            <span class="col-md-10"><input type="text" id="certificationCode" class="form-control" placeholder="请输入发送至您邮箱的验证码"></span>
        </div>
        <div class="col-md-12 ">
            <input type="submit" value="实名认证" class="btn btn-primary py-2 px-4 text-white">
        </div>
    </div>


</div>
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="../js/distpicker.data.js"></script>
<script src="../js/distpicker.js"></script>
<script src="../js/dismain.js"></script>

</body>
</html>