<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- VENDOR CSS -->
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet" href="../css/perCentermain.css">
    <link rel="stylesheet" href="../css/perCenterstyle.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css">



    <link rel="stylesheet" href="../css/aos.css">

    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="perCenterRight">
<div class="container perCentMargin-top">
    <h3 class="text-orange per-want-title">请选择您要出售的网站平台</h3><br>
    <div class="row">
        <span class="col-md-3 per-want-img">
            <a href="baseInfo.html"><img src="../images/1.png"/></a>
        </span>
        <span class="col-md-3 per-want-img" >
            <a href="otherBaseInfo.html"> <img src="../images/2.png"/></a>
        </span>
        <span class="col-md-3 per-want-img">
            <a href="otherBaseInfo.html"> <img src="../images/3.png"/></a>
        </span>
        <span class="col-md-3 per-want-img">
            <a href="otherBaseInfo.html">  <img src="../images/4.png"/></a>
        </span>
        <span class="col-md-3 per-want-img">
            <a href="otherBaseInfo.html"> <img src="../images/5.png"/></a>
        </span>
        <span class="col-md-3 per-want-img">
            <a href="otherBaseInfo.html"> <img src="../images/6.png"/></a>
        </span>
        <span class="col-md-3 per-want-img">
            <a href="otherBaseInfo.html"> <img src="../images/7.png"/></a>
        </span>
        <span class="col-md-3 per-want-img">
            <a href="otherBaseInfo.html"> <img src="../images/8.png"/></a>
        </span>
        <span class="col-md-3 per-want-img">
            <a href="otherBaseInfo.html"> <img src="../images/9.png"/></a>
        </span>
        <span class="col-md-3 per-want-img">
            <a href="otherBaseInfo.html"> <img src="../images/10.png"/></a>
        </span>
        <span class="col-md-3 per-want-img">
            <a href="otherBaseInfo.html"> <img src="../images/11.png"/></a>
        </span>
        <span class="col-md-3 per-want-img">
            <a href="otherBaseInfo.html"> <img src="../images/12.png"/></a>
        </span>
        <span class="col-md-3 per-want-img">
            <a href="otherBaseInfo.html"> <img src="../images/13.png"/></a>
        </span>
        <span class="col-md-3 per-want-img">
            <a href="otherBaseInfo.html"> <img src="../images/14.png"/></a>
        </span>
        <span class="col-md-3 per-want-img">
            <a href="otherBaseInfo.html"> <img src="../images/15.png"/></a>
        </span>
        <span class="col-md-3 per-want-img">
            <a href="otherBaseInfo.html"> <img src="../images/16.png"/></a>
        </span>
        <span class="col-md-3 per-want-img">
            <a href="TmallBaseInfo.html"> <img src="../images/18.png"/></a>
        </span>
    </div>


</div>


</body>
</html>