<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- VENDOR CSS -->
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet" href="../css/perCentermain.css">
    <link rel="stylesheet" href="../css/perCenterstyle.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css">



    <link rel="stylesheet" href="../css/aos.css">

    <link rel="stylesheet" href="../css/style.css">

    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <!--[if IE]>
    <script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body class="perCenterRight">
<div class="container perCentMargin-top">
    <h3 class="text-orange per-want-title">我要投诉</h3><br>
    <h5 class="baseInfo-notice fontColor"><img src="../images/notice.png">温馨提示：对麦淘网有益的建议，我们会给予一定的奖励哦</h5>
    <div class="margin-top-30">
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-3 ">投诉客服名称:</h5>
            <span class="col-md-9"><input type="text" id="complainCSName" class="form-control" placeholder="请输入您对哪位客服不满意，我们核对后一定给出您满意的答复哦！"></span>
        </div>
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-3 ">投诉客服QQ号:</h5>
            <span class="col-md-9"><input type="text" id="complainCSQQ" class="form-control" placeholder="请输入您不满意的客服的QQ号"></span>
        </div>
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-3 ">您的手机号:</h5>
            <span class="col-md-9"><input type="text" id="complainTel" class="form-control" placeholder="请输入您的手机号"></span>
        </div>
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-3 ">投诉内容:</h5>
            <span class="col-md-9"><textarea type="text" id="complainAdvice" class="form-control" placeholder="请输入您认为客服的失职点，您的建议使我们下次做的更好哦！"></textarea></span>
        </div>
        <div class="col-md-12 ">
            <input type="submit" value="确认投诉" class="btn btn-primary py-2 px-4 text-white">
        </div>
    </div>
</div>

<div class="container perCentMargin-top">
    <h3 class="text-orange per-want-title">咨询记录</h3><br>

    <table class="widthAll haveSellTable">
        <tr>
            <th class="text-center" style="width: 30%">建议时间</th>
            <th class="text-center" style="width: 20%">被投诉人</th>
            <th class="text-center" style="width: 50%">投诉内容</th>
        </tr>
        <tr>
            <td class="text-center" style="width: 30%">2019年6月14日21点54分</td>
            <td class="text-center" style="width: 20%">103号客服王大伟</td>
            <td class="text-center" style="width: 50%">态度不端，讲话不客气，不能解决问题</td>
        </tr>
        <tr>
            <td class="text-center" style="width: 30%">2019年6月14日21点54分</td>
            <td class="text-center" style="width: 20%">200号客服李晓明</td>
            <td class="text-center" style="width: 50%">回复时间太久了，不能立即给出解决方案。</td>
        </tr>
    </table>



</div>



<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="../js/distpicker.data.js"></script>
<script src="../js/distpicker.js"></script>
<script src="../js/dismain.js"></script>

</body>
</html>