<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- VENDOR CSS -->
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet" href="../css/perCentermain.css">
    <link rel="stylesheet" href="../css/perCenterstyle.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css">



    <link rel="stylesheet" href="../css/aos.css">

    <link rel="stylesheet" href="../css/style.css">

    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <!--[if IE]>
    <script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body class="perCenterRight">
<div class="container perCentMargin-top">
    <h3 class="text-orange per-want-title">我要建议</h3><br>
    <h5 class="baseInfo-notice fontColor"><img src="../images/notice.png">温馨提示：对麦淘网有益的建议，我们会给予一定的奖励哦</h5>
    <div class="margin-top-30">
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-3 ">您要发表的建议:</h5>
            <span class="col-md-9"><textarea type="text" id="AdviceWantPublish" class="form-control" placeholder="请输入您对我们的宝贵建议，有意的建议我们会采纳，并且给予您一定的奖励哦！"></textarea></span>
        </div>
        <div class="col-md-12 ">
            <input type="submit" value="提交" class="btn btn-primary py-2 px-4 text-white">
        </div>
    </div>
</div>

<div class="container perCentMargin-top">
    <h3 class="text-orange per-want-title">咨询记录</h3><br>

    <table class="widthAll haveSellTable">
        <tr>
            <th class="text-center" style="width: 30%">建议时间</th>
            <th class="text-center" style="width: 70%">建议内容</th>
        </tr>
        <tr>
            <td class="text-center" style="width: 30%">2019年6月14日21点54分</td>
            <td class="text-center" style="width: 70%">网站个人中心左边的sidebar有bug，可以修改一下？</td>
        </tr>
        <tr>
            <td class="text-center" style="width: 30%">2019年6月14日21点54分</td>
            <td class="text-center" style="width: 70%">为什么每天都要重新登陆，可以设置成半个月再清除本地缓存可以吗？</td>
        </tr>
    </table>



</div>



<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="../js/distpicker.data.js"></script>
<script src="../js/distpicker.js"></script>
<script src="../js/dismain.js"></script>

</body>
</html>