<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- VENDOR CSS -->
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet" href="../css/perCentermain.css">
    <link rel="stylesheet" href="../css/perCenterstyle.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css">



    <link rel="stylesheet" href="../css/aos.css">

    <link rel="stylesheet" href="../css/style.css">

    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <!--[if IE]>
    <script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body class="perCenterRight">
<div class="container perCentMargin-top">
    <h4 class="text-orange per-want-title">我要提现</h4><br>
    <h5 class="baseInfo-notice fontColor"><img src="../images/notice.png">温馨提示：麦淘网会员提现、充值 免手续费</h5>

    <div class="margin-top-30">
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-3 ">请输入提现金额:</h5>
            <span class="col-md-9"><input type="text" id="withdrawNum" class="form-control" placeholder="请输入您想要提现的金额"></span>
        </div>
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-3">支付密码:</h5>
            <span class="col-md-9"><input type="text" id="withdrawKey" class="form-control" placeholder="请输入您的支付密码"></span>
        </div>

        <div class="col-md-12 ">
            <input type="submit" value="确认提现" class="btn btn-primary py-2 px-4 text-white">
        </div>
    </div>


</div>
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="../js/distpicker.data.js"></script>
<script src="../js/distpicker.js"></script>
<script src="../js/dismain.js"></script>

</body>
</html>