<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- VENDOR CSS -->
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet" href="../css/perCentermain.css">
    <link rel="stylesheet" href="../css/perCenterstyle.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css">



    <link rel="stylesheet" href="../css/aos.css">

    <link rel="stylesheet" href="../css/style.css">

    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <!--[if IE]>
    <script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body  class="perCenterRight">
<div class="container perCentMargin-top">
    <h3 class="text-orange per-want-title">我要提问</h3><br>
    <h5 class="baseInfo-notice fontColor"><img src="../images/notice.png">温馨提示：对麦淘网有益的建议，我们会给予一定的奖励哦</h5>
    <div class="margin-top-30">
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-2">问题分类:</h5>
            <div class="form-group col-md-10">
                <select class="form-control " data-province="---- 请选择 ----">
                    <option>--请选择--</option>
                    <option value="网络营销">网店营销</option>
                    <option value="网店货源">网店货源</option>
                    <option value="网店装修">网店装修</option>
                    <option value="网店转让">网店转让</option>
                    <option value="商城建站">商城建站</option>
                </select>
            </div>
        </div>

        <div class="row baseInfo-perTitle">
            <h5 class="col-md-2">问题类型:</h5>
            <div class="form-group col-md-10">
                <select class="form-control " id="chSellStorePledge" data-province="---- 请选择 ----">
                    <option>--请选择--</option>
                    <option value="其它问题">其它问题</option>
                    <option value="交易前">交易前</option>
                    <option value="交易中">交易中</option>
                    <option value="交易后">交易后</option>
                </select>
            </div>
        </div>
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-2 ">问题描述:</h5>
            <span class="col-md-10"><textarea type="text" id="AskQueDes" class="form-control" placeholder="请详细描述您的问题"></textarea></span>
        </div>
        <div class="col-md-12 ">
            <input type="submit" value="确认提问" class="btn btn-primary py-2 px-4 text-white">
        </div>
    </div>
</div>

<div class="container perCentMargin-top">
    <h3 class="text-orange per-want-title">咨询记录</h3><br>
    <table class="widthAll haveSellTable">
        <tr>
            <th class="text-center" style="width: 30%">提交时间</th>
            <th class="text-center" style="width: 30%">主题</th>
            <th class="text-center" style="width: 13%">问题分类</th>
            <th class="text-center" style="width: 13%">问题类型</th>
            <th class="text-center" style="width: 14%">状态</th>
        </tr>
        <tr>
            <td class="text-center" style="width: 30%">2019年6月14日21点54分</td>
            <td class="text-center" style="width: 30%">我应该怎么装修我的新店铺？</td>
            <td class="text-center" style="width: 13%">网店装修</td>
            <td class="text-center" style="width: 13%">交易后</td>
            <td class="text-center" style="width: 14%">已解决</td>
        </tr>
        <tr>
            <td class="text-center" style="width: 30%">2019年6月14日21点54分</td>
            <td class="text-center" style="width: 30%">我想转让我的店铺请问我需要怎么做？</td>
            <td class="text-center" style="width: 13%">网店转让</td>
            <td class="text-center" style="width: 13%">交易前</td>
            <td class="text-center" style="width: 14%">已解决</td>
        </tr>
    </table>



</div>



<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="../js/distpicker.data.js"></script>
<script src="../js/distpicker.js"></script>
<script src="../js/dismain.js"></script>

</body>
</html>