<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- VENDOR CSS -->
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet" href="../css/perCentermain.css">
    <link rel="stylesheet" href="../css/perCenterstyle.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css">



    <link rel="stylesheet" href="../css/aos.css">

    <link rel="stylesheet" href="../css/style.css">

    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <!--[if IE]>
    <script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body class="perCenterRight">
<div class="container perCentMargin-top">
    <h3 class="text-orange per-want-title">修改密码保护</h3><br>
    <h5 class="baseInfo-notice fontColor"><img src="../images/notice.png">温馨提示：为保障交易顺利进行，会员个人资料无法自由修改，如需更改联系方式，请致电客服：400-990-8331</h5>
    <div class="margin-top-30">
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-2">新密保问题:</h5>
            <div class="form-group col-md-10">
                <select class="form-control " id="modifyKeyQue" data-province="---- 请选择 ----">
                    <option>--请选择--</option>
                    <option>您的出生地是？</option>
                    <option>您父亲的姓名是？</option>
                    <option>您母亲的生日是？</option>
                    <option>您配偶的姓名是？</option>
                    <option>您配偶的生日是？</option>
                    <option>您孩子的名字是？</option>
                    <option>您小学的学校名称是？</option>
                    <option>您小学班主任的名称是？</option>
                    <option>您初中班主任的名称是？</option>
                    <option>您高中班主任的名称是？</option>
                    <option>您大学辅导员的名字是？</option>
                    <option>您的大学学号是？</option>
                    <option>您的工号是？</option>
                </select>
            </div>
        </div>
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-2 ">新密保答案:</h5>
            <span class="col-md-10"><input type="text" id="modifyKeyAns" class="form-control" placeholder="请输入您所选中问题的答案"></span>
        </div>
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-2">确认密保答案:</h5>
            <span class="col-md-10"><input type="text" id="modifyKeyAnsAga" class="form-control" placeholder="请再次确认您问题的答案"></span>
        </div>
        <div class="col-md-12 ">
            <input type="submit" value="确认修改" class="btn btn-primary py-2 px-4 text-white">
        </div>
    </div>


</div>
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="../js/distpicker.data.js"></script>
<script src="../js/distpicker.js"></script>
<script src="../js/dismain.js"></script>

</body>
</html>