<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- VENDOR CSS -->
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet" href="../css/perCentermain.css">
    <link rel="stylesheet" href="../css/perCenterstyle.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css">



    <link rel="stylesheet" href="../css/aos.css">

    <link rel="stylesheet" href="../css/style.css">

    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <!--[if IE]>
    <script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body class="perCenterRight">
<div class="container perCentMargin-top">
    <h4 class="text-orange per-want-title">我要充值</h4><br>

    <h5 class="baseInfo-notice fontColor"><img src="../images/notice.png">温馨提示：麦淘网会员提现、充值 免手续费</h5>
    <div class="fontColor">
        温馨提示：支付宝付款时，付款说明请务必填写充值，否则无法受理！
    </div>

    <div class="rechargeAccount">
        <p>收款账号：maitao888 @ qq .com</p>
        <p>户　　名：李雪</p>
        <p>支付地址：www.alipay.com</p>
    </div>
    <div class="rechargeCode">
        <p>您也可以使用手机支付宝钱包扫描二维码充值！</p>
        <img src="../images/PaymentCode.jpeg">
    </div>
    <div>
        <h4 class="text-orange per-want-title">我要充值</h4><br>
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-2 ">支付宝账号：</h5>
            <span class="col-md-10"><input type="text" id="rechargeAliPayNum" class="form-control" placeholder="请输入您充值时使用的支付宝账号"></span>
        </div>
        <div class="row baseInfo-perTitle">
            <h5 class="col-md-2">付款金额：</h5>
            <span class="col-md-10"><input type="text" id="rechargeAmount" class="form-control" placeholder="请输入您的充值金额"></span>
        </div>

        <div class="col-md-12 ">
            <input type="submit" value="确认" class="btn btn-primary py-2 px-4 text-white">
        </div>
        <p class="textNotice">温馨提示：充值成功，如资金未到账，请尝试刷新或联系客服！</p>


    </div>


</div>
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="../js/distpicker.data.js"></script>
<script src="../js/distpicker.js"></script>
<script src="../js/dismain.js"></script>

</body>
</html>